*
{
    box-sizing: border-box;
}
.bold
{
    font-weight: bold;
}
.italic
{
    font-style: italic;
}
.wrap-main
{
    width:80%;
    margin:0 auto;
    background-color:rgb(179, 173, 120);
    display: flex;
}

.info__title
{
    border: 3px springgreen solid;
}

.left-view
{
    width: 48%;
}
.resourse
{
    
    background-color:rgb(38, 88, 238);
    margin-bottom: 1px;
    
}
.resourse__button
{
    
    width:100%;
    border:none;
    background:none;
    text-align: left;
    cursor: pointer;
}
.resourse__button:hover,.toUp__button:hover
{
    background-color: teal;
    color: white;
}

.toUp
{
    
    background-color: tomato;
}
.toUp__button
{
    width: 100%;
    border: none;
    background: none;
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
}


.right-view
{
    width: 48%;
    text-align: center;
}